<div class="container">
    <div class="header">
        <div class="header-wrapper">
            <div class="header-thumbnail">
                <img src="images/case01-gallery01.jpg" alt=""/>
            </div>
            <div class="header-text">
                <h1>TITLE</h1>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam diam ante, semper nec hendrerit aliquet,
                    tristique scelerisque massa. Aenean sed purus metus. Nullam eu accumsan justo, eget mattis nibh</p>
            </div>
        </div>

        <div id="detail-remove"></div>

    </div>

    <div class="menu">
        <ul>
            <li class="select detail-nav">OVERVIEW</li>
            <li class="detail-nav">WIKI</li>
            <li class="detail-nav">TASKS</li>
        </ul>
    </div>

    <div class="main-container">
    <div class="wrapper select0">
    <div class="content" id="detail-overview">
        <div id="wrapper-overview">
            <div class="image-wrapper">
                <div class="image-gallery">
                    <img src="images/case01-gallery01.jpg" alt=""/>
                </div>
            </div>

            <div class="text-wrapper">
                <p class="status">status: doing</p>

                <p class="schedule">schedule: 2013-10-12 - 2013-12-05</p>

                <p class="schedule-hour">schedule hour: 300hr</p>

                <p class="log">
                    today: 00:20:10 / week: 01:50:30 / month: 10:10:10 / total: 100:10:10
                </p>

                <div class="detail">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam diam ante, semper nec hendrerit
                        aliquet, tristique scelerisque massa. Aenean sed purus metus. Nullam eu accumsan justo, eget mattis
                        nibh</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam diam ante, semper nec hendrerit
                        aliquet, tristique scelerisque massa. Aenean sed purus metus. Nullam eu accumsan justo, eget mattis
                        nibh</p>
                </div>

            </div>

            <p class="edit">
                <a href="">EDIT</a>
            </p>

        </div>
    </div>

    <div class="content" id="detail-wiki">
        <div id="wrapper-wiki">
            <div class="wiki-content">
                <div class="wiki-conten-wrapper">

                    <div class="date">
                        <div class="day">10/11/2013</div>
                        <p class="text">hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge
                            hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge
                            hoge</p>

                        <p class="text">hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge</p>
                    </div>

                    <div class="date">
                        <div class="day">10/11/2013</div>
                        <p class="text">hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge</p>
                    </div>

                </div>
            </div>

            <div class="text-form">
                <textarea name="" id="wiki-text"></textarea>
            </div>

            <p class="save"><a href="#">SAVE</a></p>

        </div>
    </div>

    <div class="content" id="detail-tasks">
        <div id="wrapper-tasks">
            <div class="tasks-form">
                <form>
                    <p><input type="text" name="task"></p>

                    <p class="save"><input type="submit" value="SAVE"></p>
                </form>
            </div>

            <div class="tasks-wrapper">
                <div class="tasks-doing col">
                    <ul>
                        <li>
                            <input type="checkbox" class="task-toggle"/>
                            <label>Maecenas sit amet mi id nulla tempus elementum</label>
                        </li>
                        <li>
                            <input type="checkbox" class="task-toggle"/>
                            <label>Maecenas sit amet mi id nulla tempus elementum</label>
                        </li>
                        <li>
                            <input type="checkbox" class="task-toggle"/>
                            <label>Maecenas sit amet mi id nulla tempus elementum</label>
                        </li>
                        <li>
                            <input type="checkbox" class="task-toggle"/>
                            <label>Maecenas sit amet mi id nulla tempus elementum.</label>
                        </li>
                    </ul>
                </div>
                <div class="tasks-did col">

                    <div class="one-day">
                        <p class="date">10/11/2013</p>
                        <ul>
                            <li>
                                <div class="done-task">
                                    <div class="toggle-svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                                            <line x1="12" y1="0" x2="0" y2="12"
                                                  style="stroke:rgb(220,220,220); stroke-width:2;"/>
                                        </svg>
                                    </div>
                                    <div class="task-label">hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge
                                        hoge.
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="done-task">
                                    <div class="toggle-svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                                            <line x1="12" y1="0" x2="0" y2="12"
                                                  style="stroke:rgb(220,220,220); stroke-width:2;"/>
                                        </svg>
                                    </div>
                                    <div class="task-label">hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge
                                        hoge.
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="one-day">
                        <p class="date">10/11/2013</p>
                        <ul>
                            <li>
                                <div class="done-task">
                                    <div class="toggle-svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                                            <line x1="12" y1="0" x2="0" y2="12"
                                                  style="stroke:rgb(220,220,220); stroke-width:2;"/>
                                        </svg>
                                    </div>
                                    <div class="task-label">hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge
                                        hoge.
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="done-task">
                                    <div class="toggle-svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                                            <line x1="12" y1="0" x2="0" y2="12"
                                                  style="stroke:rgb(220,220,220); stroke-width:2;"/>
                                        </svg>
                                    </div>
                                    <div class="task-label">hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge
                                        hoge.
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="one-day">
                        <p class="date">10/11/2013</p>
                        <ul>
                            <li>
                                <div class="done-task">
                                    <div class="toggle-svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                                            <line x1="12" y1="0" x2="0" y2="12"
                                                  style="stroke:rgb(220,220,220); stroke-width:2;"/>
                                        </svg>
                                    </div>
                                    <div class="task-label">hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge
                                        hoge.
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="done-task">
                                    <div class="toggle-svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                                            <line x1="12" y1="0" x2="0" y2="12"
                                                  style="stroke:rgb(220,220,220); stroke-width:2;"/>
                                        </svg>
                                    </div>
                                    <div class="task-label">hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge
                                        hoge.
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="one-day">
                        <p class="date">10/11/2013</p>
                        <ul>
                            <li>
                                <div class="done-task">
                                    <div class="toggle-svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                                            <line x1="12" y1="0" x2="0" y2="12"
                                                  style="stroke:rgb(220,220,220); stroke-width:2;"/>
                                        </svg>
                                    </div>
                                    <div class="task-label">hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge
                                        hoge.
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="done-task">
                                    <div class="toggle-svg">
                                        <svg xmlns="http://www.w3.org/2000/svg" version="1.1">
                                            <line x1="12" y1="0" x2="0" y2="12"
                                                  style="stroke:rgb(220,220,220); stroke-width:2;"/>
                                        </svg>
                                    </div>
                                    <div class="task-label">hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge hoge
                                        hoge.
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>

    </div>
    </div>
    </div>

</div>