<section id="home-page">
    <div id="timer" class="inactive">
        ### timer ###
    </div>

    <div id="timeline">
        <div class="wrapper">


            <div id="sub-project" class="project">
                <div class="currentWork work">
                </div>
            </div>

            <div class="line-graphic">
                <div class="main-line"></div>
                <div class="circle"></div>
            </div>

            <div id="main-project" class="project">

                <div class="currentWork work">
                    <div class="pic">
                        <img src="images/case01-timeline.jpg" alt=""/>
                    </div>

                    <div class="description">
                        <div class="title">website for ios app project</div>
                        <div class="button-list">
                            <a class="button detail-button" href="">DETAIL</a>
                            <a class="button start-button" href="">START</a>

                        </div>
                    </div>



                </div>

            </div>


        </div>
    </div>


</section>
