<section id="home-page">
    <div id="timer" class="inactive">
        ### timer ###
    </div>

    <div id="timeline">
        <div class="wrapper">


            <div id="sub-project">

            </div>

            <div class="line"></div>

            <div id="main-project">

            </div>


        </div>
    </div>


</section>
