<section id="login">
    <section id="login-container">
        <form>
            <p><span class="name">Name</span> <input type="text" name="name"></p>
            <p><span class="pwd">Password</span> <input type="password" name="pwd"></p>
            <p class="submit"><input type="submit" value="LOGIN"></p>
        </form>
    </section>
</section>