$CONTAINER_WIDTH        : 860px;

$BG_COLOR               : #ECF0F1;
$NAV_BG_COLOR           : #848484;

$VISUAL_COLOR           : #B0B6BB;

$DEFAULT_COLOR          : #848484;
$DEFAULT_COLOR_NUM      : 134;

$DEFAULT_HOVER_BG_COLOR : #EEEEEE;
$DEFAULT_HOVER_COLOR    : #848484;

$BUTTON_DEF_COLOR       : #aaaaaa;

$DARK_GRAY_COLOR        : #B0B6BB;
$CONTENT_COVER_COLOR    : 102;

$NAV_SIDE               : 40px;



// ------------
// DETAIL

$DETAIL_HEIGHT          : 480px;
$DETAIL_BG_COLOR        : #fff;
$DETAIL_SELECT_BG_COLOR : #ebebeb;
$DETAIL_DEFAULT_COLOR   : #969696;
$DETAIL_TASK_DISABLE_COLOR : #CCCCCC;
$DETAIL_MENU_WIDTH      : 120px;
$DETAIL_MENU_HEIGHT     : 30px;
$DETAIL_CONTENT_HEIGHT  : 340px;
$DETAIL_ANIMATION       : 0.2s;

// ------------

$LOGIN_WIDTH            : 400px;

$WORK_WIDTH             : 400px;
$WORK_HEIGHT            : 240px;
$WORK_IMG_WIDTH         : 380px;
$WORK_IMG_HEIGHT        : 220px;

$WORK_BG_COLOR          : #ffffff;

// ------------
// LIST

$LIST_PROJECT_HEIGHT        : 220px;
$LIST_PROJECT_MARGIN_BOTTOM : 20px;
$LIST_PROJECT_BG_COLOR      : #fff;
$LIST_BG_COLOR_NUM          : 83;
$LIST_PROJECT_TOP           : 10px;
$LIST_IMAGE_WIDTH           : 840px;
$LIST_IMAGE_HEIGHT          : 200px;

$LIST_CONTENT_WIDTH         : 800px;
$LIST_CONTENT_HEIGHT        : 160px;

// ------------
// EDIT
$EDIT_BG_COLOR              : #fff;
$EDIT_WRAPPER_WIDTH         : 840px;
$EDIT_IMAGE_WIDTH           : 320px;
$EDIT_CONTENT_WIDTH         : 490px;


