$BG_COLOR               : #ECF0F1;
$NAV_BG_COLOR           : #848484;

$VISUAL_COLOR           : #B0B6BB;

$DEFAULT_COLOR          : #848484;
$DEFAULT_COLOR_NUM      : 134;

$DEFAULT_HOVER_BG_COLOR : #EEEEEE;
$DEFAULT_HOVER_COLOR    : #848484;

$BUTTON_DEF_COLOR       : #aaaaaa;

$DARK_GRAY_COLOR        : #B0B6BB;
$CONTENT_COVER_COLOR    : 102;

$NAV_SIDE               : 40px;

$CONTAINER_WIDTH        : 860px;

$DETAIL_HEIGHT          : 480px;
$DETAIL_BG_COLOR        : #fff;
$DETAIL_SELECT_BG_COLOR : #ebebeb;
$DETAIL_DEFAULT_COLOR   : #969696;
$DETAIL_MENU_WIDTH      : 120px;
$DETAIL_MENU_HEIGHT     : 30px;
$DETAIL_CONTENT_HEIGHT  : 340px;

$LOGIN_WIDTH            : 400px;

$WORK_WIDTH             : 400px;
$WORK_HEIGHT            : 240px;
$WORK_IMG_WIDTH         : 380px;
$WORK_IMG_HEIGHT        : 220px;

$WORK_BG_COLOR          : #ffffff;