$BG_COLOR               : #ECF0F1;
$NAV_BG_COLOR           : #848484;

$DEFAULT_COLOR          : #848484;
$DEFAULT_COLOR_NUM      : 134;

$DEFAULT_HOVER_BG_COLOR : #EEEEEE;
$DEFAULT_HOVER_COLOR    : #848484;

$DARK_GRAY_COLOR        : #B0B6BB;
$CONTENT_COVER_COLOR    : 102;

$NAV_SIDE               : 40px;

$CONTAINER_WIDTH        : 860px;

$LOGIN_WIDTH            : 400px;

