#detail{
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;

  width: 100%;

  &.posAbsolute {
    position: absolute;
  }

  &.posFix{
    position: fixed;
  }

  &.invisible{
    display: none;
  }

  &.visible{
    display: block;
  }

  .container{
    position: absolute;
    width: $CONTAINER_WIDTH;
    height: $DETAIL_HEIGHT;

    top  : 50%;
    left : 50%;

    margin-left: -0.5 * $CONTAINER_WIDTH;
    margin-top: -0.5 * $DETAIL_HEIGHT;


    .header{
      position: relative;
      background: $DETAIL_BG_COLOR;

      #detail-remove {
        cursor: pointer;

        position: absolute;
        right: 20px;
        top: 20px;

        width: 20px;
        height: 20px;

        padding-top: 1px;
        padding-left: 1px;

        border-radius: 10px;

        color: $DEFAULT_COLOR;

        @include transition(all .3s);

        &:before{
          content: "\4d";
          font-family: 'ElegantIcons';
          line-height: 1em;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          -webkit-font-smoothing: antialiased;

        }

        &:hover{
          background: $DEFAULT_HOVER_BG_COLOR;
        }

      }


      .header-wrapper{
        padding: 20px;
        overflow: hidden;
        .header-thumbnail{
          float: left;
          margin-right: 20px;

          width: 120px;
          height: 70px;

          img{
            width: 120px;
            height: 70px;
          }
        }

        div.header-text{
          float: left;
          width: 680px;
          color: $DEFAULT_COLOR;

          h1{
            font-weight: 400;
            font-size: 20px;
            margin-bottom: 10px;
          }

          p{
            line-height: 1.5em;
            font-size: 11px;
          }
        }

      }

    }

    .menu {
      border-top: 1px solid #CCCCCB;
      border-bottom: 1px solid #CCCCCB;
      height: $DETAIL_MENU_HEIGHT;
      background: $DETAIL_BG_COLOR;

      ul{
        overflow: hidden;
        li{
          font-size: 14px;
          font-weight: 400;
          color: $NAV_BG_COLOR;

          cursor: pointer;
          width: $DETAIL_MENU_WIDTH;
          height: ($DETAIL_MENU_HEIGHT - 1px);

          float: left;
          text-align: center;
          text-decoration: none;
          padding-top: 8px;
          border-right: 1px solid #CCCCCB;

          @include transition(background 0.6s 0.4s);

          &.select{
            //height: $DETAIL_MENU_HEIGHT;
            background: $DETAIL_SELECT_BG_COLOR;
            border-bottom: $DETAIL_SELECT_BG_COLOR 1px solid;

          }

        }
      }
    }

    .main-container{

      @include perspective(1000px);
      @include perspective-origin( ($CONTAINER_WIDTH/2) ($DETAIL_CONTENT_HEIGHT/2) );

      .wrapper{

        position: relative;


        @include transform-style(preserve-3d);

        &.step1{
          @include transition(all .6s);
        }

        &.step2{
          @include transition(all 1s);
        }

        &.select0{
          @include create-transform( $rotate-y: 0deg, $origin-z: ($CONTAINER_WIDTH * -0.5) );
        }

        &.select1{
          @include create-transform( $rotate-y: -90deg, $origin-z: ($CONTAINER_WIDTH * -0.5) );
        }

        &.select2{
          @include create-transform( $rotate-y: -180deg, $origin-z: ($CONTAINER_WIDTH * -0.5) );
        }


        .content{
          position: absolute;

          width  : $CONTAINER_WIDTH;
          height : $DETAIL_CONTENT_HEIGHT;

          &:nth-child(1) {
            background: $DETAIL_SELECT_BG_COLOR;
          }

          &:nth-child(2) {
            background: $DETAIL_SELECT_BG_COLOR;
            @include create-transform( $rotate-y: 90deg, $trans-z: ($CONTAINER_WIDTH/2), $trans-x: ($CONTAINER_WIDTH/2));

          }

          &:nth-child(3) {
            background: $DETAIL_SELECT_BG_COLOR;

            @include create-transform( $rotate-y: 180deg, $trans-z: $CONTAINER_WIDTH );

          }
        }

        #detail-overview {
          #wrapper-overview{
            margin: 20px;
            height: ($DETAIL_CONTENT_HEIGHT - 40px);
            overflow: hidden;

            .image-wrapper{
              float: left;
              background: #ffff00;
              width: 515px;
              height: ($DETAIL_CONTENT_HEIGHT - 40px);
              margin-right: 20px;


              .image-gallery{
                position: relative;
                width: ($CONTAINER_WIDTH - 575px);
                height: ($DETAIL_CONTENT_HEIGHT - 40px);

                img{
                  position: absolute;
                  width: 515px;
                  height: ($DETAIL_CONTENT_HEIGHT - 40px);
                }
              }

            }

            .text-wrapper{
              float: left;
              overflow: auto;

              width: ($CONTAINER_WIDTH - 575px);
              height: ($DETAIL_CONTENT_HEIGHT - 90px);
              color: $DETAIL_DEFAULT_COLOR;
              margin-bottom: 20px;
              p{
                font-size: 11px;
                line-height: 1.5em;
                margin-bottom: 5px;
              }

              p.schedule{
                margin-bottom: 20px;
              }

              p.log{
                margin-bottom: 20px;
              }

              .detail{
                margin-bottom: 20px;
              }

            }

            p.edit{
              a{
                float: right;
                @include common-button(12px, 5px, 10px, $DETAIL_DEFAULT_COLOR);

                &:hover{
                  color: $DEFAULT_HOVER_BG_COLOR;
                }

              }
            }
          }
        }

        #detail-wiki{
          #wrapper-wiki {
            margin: 20px;
            width: ($CONTAINER_WIDTH - 40px);
            height: ($DETAIL_CONTENT_HEIGHT - 40px);

            div.wiki-content{
              overflow: auto;
              height: ($DETAIL_CONTENT_HEIGHT - 100px);
              div.wiki-conten-wrapper{
                font-size: 12px;
                line-height: 1.5em;
                color: $DEFAULT_COLOR;

                .date{
                  .day{
                    margin-bottom: 3px;
                  }

                  p{
                    margin-bottom: 5px;
                  }

                  margin-bottom: 20px;
                }

                padding-bottom: 20px;
              }

              margin-bottom: 20px;
            }

            div.text-form{
              height: 40px;
              textarea{
                width: 100%;
                height: 40px;
                resize: none;
                background: $DETAIL_SELECT_BG_COLOR;
                border-color: $DETAIL_DEFAULT_COLOR;

                &:focus{
                  outline-color: rgb($FOCUS_COLOR, $FOCUS_COLOR, $FOCUS_COLOR);
                }
              }

              margin-bottom: 20px;
            }

            p.save {
              display: none;

              a{
                float: right;
                @include common-button(12px, 5px, 10px, $DETAIL_DEFAULT_COLOR);

                &:hover{
                  color: $DEFAULT_HOVER_BG_COLOR;
                }
              }
            }

          }

          &.active{
            @include transition(all 0.6s);
            height: ($DETAIL_CONTENT_HEIGHT + 60px);
            #wrapper-wiki {
              div.text-form{
                @include transition(all 0.6s);
                height: 60px;
                textarea{
                  @include transition(all 0.6s);
                  height: 60px;

                }
              }

              p.save{
                @include transition(all 0.6s);
                display: block;
              }

            }
          }
        }

        #detail-tasks{
          #wrapper-tasks{
            margin: 20px;

            div.tasks-form{
              margin-bottom: 15px;

              form{
                p{
                  overflow: hidden;
                  margin-bottom: 10px;
                }
              }

              input {
                height: 2em;
                font-size: 12px;
                color: $DETAIL_DEFAULT_COLOR;

                width: 100%;

                background: $DETAIL_SELECT_BG_COLOR;
                border: 1px solid $DETAIL_DEFAULT_COLOR;
                border-radius: 0;
                -webkit-appearance: none;

                &:focus {
                  outline-color: rgb($FOCUS_COLOR, $FOCUS_COLOR, $FOCUS_COLOR);
                }

              }

              input[type=submit]{

                padding: 5px 0;

                width: 70px;

                float: right;
                text-align: center;

                color: $DEFAULT_COLOR;

                @include transition( all .4s);

                &:hover, &:active, &:focus, &:visited{
                  cursor     : pointer;
                  background : $DEFAULT_COLOR;
                  color: $DETAIL_BG_COLOR;
                }
              }
            }

            div.tasks-wrapper{
              overflow: hidden;

              div.col{
                float: left;

                width: 46%;
                height: 225px;
                overflow: auto;

                color: $DEFAULT_COLOR;
                font-size: 11px;
                line-height: 1.5em;
              }

              // -------------

              div.tasks-doing{
                overflow: auto;
                margin-right: 8%;

                ul{
                  li{
                    margin-bottom: 6px;

                    .toggle-svg{
                      width: 11px;
                      height: 11px;
                      position: absolute;
                      margin-top: 3px;
                      margin-left: 3px;
                    }

                    .task-toggle{
                      position: absolute;

                      width: 11px;
                      height: 11px;

                      @include appearance(none);

                      &:after{
                        content: "";

                        position: absolute;

                        width: 11px;
                        height: 11px;

                        border: 1px solid $DETAIL_DEFAULT_COLOR;

                      }

                    }

                    input[type=checkbox]{
                      outline: none;
                    }

                    label{
                      margin-top: 2px;
                      margin-left: 20px;

                      vertical-align: middle;
                    }
                  }
                }
              }

              // -------------

              div.tasks-did{

                div.one-day{
                  margin-bottom: 20px;
                  p.date{
                    margin-bottom: 5px;
                  }

                  ul{
                    li{

                      .done-task{
                        position: relative;
                      }

                      div.toggle-svg{
                        margin-top: 2px;
                        width: 12px;
                        height: 12px;
                        position: absolute;
                        border: 1px solid $DETAIL_TASK_DISABLE_COLOR;

                        svg{
                          position: absolute;
                          top   : -1px;
                          left  : -1px;
                          width : 12px;
                          height: 12px;
                        }

                      }

                      div.task-label{
                        color: $DETAIL_TASK_DISABLE_COLOR;
                        text-decoration:line-through;
                        margin-left: 20px;
                      }
                    }
                  }

                }

              }

            }

          }
        }
      }
    }
  }

  .bg{
    overflow: hidden;

    width: 100%;
    height: 100%;

    .bg-part{
      float: left;
      height: 100%;
      width: 10%;
      opacity: 0;


      @for $i from 1 through 5{

        &:nth-child(#{6 - $i}) {
          @include create-transform( $perspective: 1000, $rotate-y: -90deg, $origin-x: 100% );
        }

        &:nth-child(#{$i + 5}) {
          @include create-transform( $perspective: 1000, $rotate-y: 90deg, $origin-x: 0 );
        }


      }
    }
  }

  #detail-main-content{
    opacity: 0;
  }

  &.visible-active {
    .bg{
      .bg-part{
        background: rgba(50, 50, 50, .6);
        opacity: 100;
        @include create-transform( $perspective: 1000, $rotate-y: 0 );

        $sum: 0s;
        $animation: .2s;
        @for $i from 1 through 5{

          &:nth-child(#{6 - $i}) {
            @include transition(all $animation $sum);
          }

          &:nth-child(#{$i + 5}) {
            @include transition(all $animation $sum);
          }

          $sum: $sum + $animation*0.9;
          $animation: $animation * 1.3;
        }
      }
    }

    #detail-main-content{
      &.data-read{
        @include transition(all 1s 1s);
        opacity: 100;
      }
    }
  }

  &.visible-active {
    &.remove-active{
      .bg{
        .bg-part{
          opacity: 0;

          $sum: 0s;
          $animation: .25s;

          @for $i from 1 through 5{

            &:nth-child(#{$i}) {
              @include create-transform( $perspective: 1000, $rotate-y: -90deg );
              @include transition(all $animation $sum);
            }

            &:nth-child(#{11 - $i}) {
              @include create-transform( $perspective: 1000, $rotate-y: 90deg );
              @include transition(all $animation $sum);
            }

            $sum: $sum + $animation * 0.9;
            $animation: $animation * 1.3;
          }
        }
      }

      #detail-main-content{
        @include transition(all 1s);
        opacity: 0;
      }
    }
  }

  &.test{
    height: 720px;

    .container{
      top: 360px;
    }
  }

  .text-wrapper{
  }

}