  #home-page{
    width: $CONTAINER_WIDTH;

    margin: auto;

    /** timer **/

    div#timer{
      margin-bottom: 50px;

      &.inactive{
        opacity: 0;
        @include create-transform( $perspective: 1000, $rotate-x: -90deg, $origin-y: 0 );
        @include transition(all 0.3s);
      }

      &.active{
        opacity: 1;
        @include create-transform( $perspective: 1000, $rotate-x: 0deg, $origin-y: 0 );
        @include transition(all 1s);
      }

      &.display-none{
        display: none;
      }

      padding: 10px;
      background: $WORK_BG_COLOR;

      p.date{
        color: $DEFAULT_COLOR;
        font-size: 12px;
        text-align: center;
        margin-bottom: 3px;
      }

      p.title{
        font-size: 18px;
        color: $DEFAULT_COLOR;
        margin-bottom: 20px;
        text-align: center;
      }

      p.timer{
        text-align: center;
        color: $DEFAULT_COLOR;
        margin-bottom: 20px;

        .hour{
          font-size: 24px;
          margin-right: 10px;
        }

        .second{
          font-size: 18px;
        }


      }

      .timer-button{

        .stop-bt{
          display: block;

          width: 100px;

          margin: auto;
          padding: 8px 12px;
          text-align: center;

          text-decoration: none;
          font-size: 14px;
          color: $DEFAULT_COLOR;
          border: 1px solid $BUTTON_DEF_COLOR;
          @include transition(all 0.3s);

          &:hover{
            background: $DEFAULT_HOVER_BG_COLOR;
            border-color: $DEFAULT_HOVER_BG_COLOR;
          }
        }

      }
    }

    /** timer **/

    #timeline{
      @include transition(all 0.6s);
      margin-top: -170px;

      &.timer-active {
        margin-top: 0;
      }

      .wrapper{
        height: 100%;
        @include display-box;
        @include box-orient(horizontal);
        @include box-align(stretch);
        @include box-direction(reverse);

        .project {
          height: 100%;

          .work{
            position: absolute;
            background: $WORK_BG_COLOR;
            width: $WORK_WIDTH;
            height: $WORK_HEIGHT;

            &.work-mouse-enter{
              .description {
                @include create-transform( $perspective: 1000, $rotate-x: 0, $origin-y: 0 );
              }
            }

            .pic{
              overflow: hidden;
              margin: 10px;
              width: $WORK_IMG_WIDTH;
              height: $WORK_IMG_HEIGHT;
            }

            .description {
              @include create-transform( $perspective: 1000, $rotate-x: -90deg, $origin-y: 0 );
              @include transition(all 0.3s);

              padding: 5px 10px 10px;
              background: $WORK_BG_COLOR;

              .title{
                font-size: 18px;
                color: $DEFAULT_COLOR;
                margin-bottom: 5px;
              }

              .button-list{
                overflow: hidden;

                .button {
                  @include transition(all 0.3s);

                  display: block;
                  float: right;
                  font-size: 12px;
                  color: $DEFAULT_COLOR;
                  text-decoration: none;
                  border: $BUTTON_DEF_COLOR solid 1px;
                  padding: 5px 10px;

                  &.start-button{
                    margin-right: 12px;
                  }

                  &.invisible{
                    opacity: 0;
                    @include transition( opacity, 0.4s );
                  }

                  &.display-none{
                    display: none;
                  }

                  &:hover{
                    background: $DEFAULT_HOVER_BG_COLOR;
                    border-color: $DEFAULT_HOVER_BG_COLOR;

                    /*&:after{
                      content: "";
                      display: block;
                      position: absolute;
                      background: #ffff00;
                      width  : 100%;
                      height : 100%;
                    }*/

                  }

                }

              }

            }


          }



        }

        #main-project{
         // background: rgba( 100, 100, 100, 0.3);
          @include box-flex(7);
          position: relative;
        }

        #sub-project{
          //background: rgba(255, 0, 0, 0.3);
          @include box-flex(7);
          position: relative;
        }


        .line-graphic{
          position: relative;

          height: 100%;
          @include box-flex(1);

          .main-line{
            background: $VISUAL_COLOR;

            width  : 2px;
            height : 100%;
            margin: auto;
          }

          .circle {
            position: absolute;
            top: -12px;
            left: calc((100% - 24px)/2);
            width: 24px;
            height: 24px;
            background: $VISUAL_COLOR;
            border: $BG_COLOR solid 8px;
            border-radius: 12px;
          }

          .rect {
            position: absolute;
            left: calc((100% - 24px)/2);
            width: 24px;
            height: 24px;
            background: $VISUAL_COLOR;
            border: $BG_COLOR solid 8px;
          }

          .date {

            position: absolute;
            top  : 300px;
            width: 50px;
            left : calc((100% - 50px)/2);
            color: $DEFAULT_COLOR;
            background-color: $BG_COLOR;
            padding-top    : 8px;
            padding-bottom : 8px;
            font-size: 12px;
          }

        }

      }

    }


  }
