
  #home-page{
    width: $CONTAINER_WIDTH;

    margin: auto;

    /** timer **/

    div#timer{
      &.inactive{
        display: none;
      }

    }

    /** timer **/

    #timeline{

      .wrapper{
        height: 100%;
        @include display-box;
        @include box-orient(horizontal);
        @include box-align(stretch);
        @include box-direction(reverse);

        .project {
          height: 100%;

          .work{
            position: absolute;
            background: $WORK_BG_COLOR;
            width: $WORK_WIDTH;
            height: $WORK_HEIGHT;

            .pic{
              overflow: hidden;
              margin: 10px;
              width: $WORK_IMG_WIDTH;
              height: $WORK_IMG_HEIGHT;
            }
          }

          .description {
            padding: 0 10px 10px;
            background: $WORK_BG_COLOR;

              .title{
                font-size: 18px;
                color: $DEFAULT_COLOR;
                margin-bottom: 15px;
              }

              .button-list{
                overflow: hidden;
                a.button {
                  @include transition(all 0.6s);
                  
                  display: block;
                  float: right;
                  font-size: 12px;
                  color: $DEFAULT_COLOR;
                  text-decoration: none;
                  border: $BUTTON_DEF_COLOR solid 1px;
                  padding: 5px 10px;


                  &.start-button{
                    margin-right: 12px;
                  }

                  &:hover{
                    background: $DEFAULT_HOVER_BG_COLOR;
                    border-color: $DEFAULT_HOVER_BG_COLOR;
                  }

                }

              }
            
          }
        }

        #main-project{
         // background: rgba( 100, 100, 100, 0.3);
          @include box-flex(7);
        }

        #sub-project{
          //background: rgba(255, 0, 0, 0.3);
          @include box-flex(7);
        }


        .line-graphic{
          position: relative;

          height: 100%;
          @include box-flex(1);

          .main-line{
            background: $VISUAL_COLOR;

            width  : 2px;
            height : 100%;
            margin: auto;
          }

          .circle{
            position: absolute;
            top: -12px;
            left: calc((100% - 24px)/2);
            width: 24px;
            height: 24px;
            background: $VISUAL_COLOR;
            border: $BG_COLOR solid 8px;
            border-radius: 12px;
          }


        }

      }

    }


  }
