@import "compass/reset";
@import "compass/css3";

@import "constans";



@import "nav";

@import "login";
@import "loading";
@import "home";
@import "detail";

@import "font";
@import "loader";

body{
  min-height: 400px;
  font-weight: 300;
  font-family: 'Lato', sans-serif;
  background: $BG_COLOR;
}

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#main-container{

  &.init{
    opacity: 1;
    @include transition(opacity 0.8s);
  }

  &.initVisible{
    opacity : 0;
  }

}